/*
GENERAL
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: #EAF2F3;
  font: 14px/1.2em courier, "lato";
  height: 100%;
}

/*
Header
*/

header h1 {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

header p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 40px;
}

/*
Section
*/
.section {
  margin: 10px auto;
  width: 60%;
  border: solid black 1px;
  padding: 10px;

}

#demo {
  color: blue;
}
